/* 
    Document   : style
    Created on : Jun 27, 2012, 1:19:58 PM
    Author     : newe1344
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

body {
    background-color: white;
}

#wrap {
/*    background: url(../images/bg.jpg) scroll no-repeat white;*/
    width: 960px;
    min-height: 900px;
    margin: 0 auto;
    position: absolute;
    left: 12%;
    z-index: 10;
}

canvas {
    cursor: none;
    position: relative;
    left: 50%;
    margin-left: -350px;
    z-index: 50;
}

#countdown {
    position: fixed;
    width: 300px;
    height: 300px;
    top: 100px;
    left: 40%;
    font-size: 48px;
    z-index: 100;
}